
@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);


body {font: 13px Helmet, Freesans, sans-serif;}

body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

blockquote {padding: 16px; background: #eee;}



$settings_icon_size: 4vmax;
$settings_icon_color: goldenrod;


* {
	outline: 0;
}
html,
body {
	height: 100vh;
	overflow: hidden;
}
body {
	font-family: sans-serif;
	background-color: black;
	
	&.settings-open {
		
		.lazer.show {
			top: 7vh !important;
			transform: translate(-50%,0);
			width: 50vmin !important;
			height: 50vmin !important;
			border-radius: .25rem;
			border: 1px solid white;
		}
		
		.lazerlinez-text,
		.grid {
			opacity: 0;
		}
		
		.settings-toggle {
		top: calc( -1vmin - #{$settings_icon_size} );
		}
		
		.settings {
			transform: translateY(0%);
		}
		
		.slider:after {
			left: 50%;
			transform: translate(-50%,-50%);
		}
		
		.slider-1,
		.slider-3 {
			top: 50%;
			transform: translate(0,-50%) rotate(45deg);
		}
		
		.slider-2,
		.slider-4 {
			top: 50%;
			transform: translate(0,-50%) rotate(-45deg);
		}
	}
}

.fade_in_on_load {
	opacity: 0;
	transition: all 1200ms ease-in-out;
	
	&.show {
		opacity: 1;
	}
}

.background {
	z-index: 0;
	background-image: linear-gradient( to top, desaturate( midnightblue, 15% ) 30%, desaturate( darken( midnightblue, 20% ), 20% ) 80% );
}

.background,
.lazer,
.mountainz,
.lazerlinez-text,
.grid {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.lazer {
	position: fixed !important;
	top: auto !important;
	bottom: 35%;
	left: 50% !important;
	transform: translateX(-50%) translateZ(0);
	width: 90vmin !important;
	height: 90vmin !important;
	border-radius: 9999px;
	
	&.show {
		bottom: 33%;
	}
}

.mountainz {
	z-index: 3;
}

.lazerlinez-text {
	z-index: 5;

	text {
		font-family: 'Racing Sans One', sans-serif;
		font-size: calc( 5vw + 5vh );
		letter-spacing: .025em;
		text-transform: uppercase;
		text-shadow: -.1vh -.1vw 0 white, .02em .02em 0 rgba(0,0,0,.5), -1em .125em 2.5em rgba(255,255,255,.5), 0.5em .125em 2.5em rgba(255,255,255,.5), 0 .25em 1em rgba(155,255,255,.25);
		fill: url(#gradient);
	}

	.stop1 { stop-color: desaturate( lighten( midnightblue, 25% ), 25% ); }
	.stop2 { stop-color: deepskyblue; }
	.stop3 { stop-color: white; }
	.stop4 { stop-color: black; }
	.stop5 { stop-color: hotpink; }
	.stop6 { stop-color: white; }
}

.grid {
	position: fixed;
	z-index: 4;
	bottom: 0;
	left: -100vw;
	width: 300vw;
	height: 100vh;
	transform-origin: bottom;
	transform: perspective(800px) rotateX(66deg);
	mask: url(#mask);
}
.grid-line {
	position: absolute;
	stroke: mix(cyan,black,30%);
	stroke-width: 1.5vmin;
}

.github {
	position: fixed;
	z-index: 6;
	top: 0;
	right: 0;
	width: 10vmax;
	height: 10vmax;
	overflow: hidden;
	
	a {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		transform: translate(50%, -50%) rotate(45deg);
		color: deepskyblue;
	}
	
	svg {
		fill: currentColor;
	}
}


.settings-toggle {
	position: fixed;
	top: calc( -1rem - #{$settings_icon_size} );
	left: 50%;
	transform: translateX(-50%) translateZ(0);
	appearance: none;
	width: $settings_icon_size;
	height: $settings_icon_size*.75;
	background-color: transparent;
	border: 0;
	
	.slider {
		position: absolute;
		left: 0;
		width: $settings_icon_size;
		height: $settings_icon_size/16;
		background-color: $settings_icon_color;
		border-radius: 999px;
		transition: all 600ms ease;
		
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: $settings_icon_size/5;
			height: $settings_icon_size/5;
			background: $settings_icon_color;
			border-radius: 999px;
			transition: all 600ms ease;
		}
	}
	
	.slider-1 {
		top: 0;
		
		&:after {
			left: 30%;
		}
	}
	
	.slider-2 {
		top: 33.333333%;
		transform: translateY(-33%);
		
		&:after {
			left: 15%;
		}
	}
	
	.slider-3 {
		top: 66.666666%;
		transform: translateY(-66%);
		
		&:after {
			left: 66%;
		}
	}
	
	.slider-4 {
		top: 100%;
		transform: translateY(-100%);
		
		&:after {
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}

.settings {
	position: fixed;
	z-index: 6;
	bottom: 0;
	transform: translateY(100%) translateZ(0);
	width: 100%;
	height: 30%;
	padding: 0 2vw;
	transition: all 300ms ease;
}

.settings-text {
	display: flex;
	justify-content: center;
}
.settings-color {
	display: inline-block;
	padding: 2vw;
	
	input {
		appearance: none;
		border: 0;
		
		&,
		&::-webkit-color-swatch-wrapper,
		&::-webkit-color-swatch {
			width: $settings_icon_size;
			height: $settings_icon_size;
			padding: 0;
			border: 0;
			border-radius: 999px;
		}
	}
}
$color_off: rgba(255,255,255,.15);
$color_on: rgba(255,255,255,.85);
.settings-position {
	position: relative;
	width: $settings_icon_size;
	height: $settings_icon_size;
	margin: 2vw;
	border-radius: 999px;
	overflow: hidden;
}
.setting-position {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	background-color: transparent;
	border: 0;
}
.setting-position-top,
.setting-position-bottom {
	left: 50%;
	transform: translateX(-50%);
	border-left: $settings_icon_size/2.5 solid transparent;
	border-right: $settings_icon_size/2.5 solid transparent;
}
.setting-position-top {
	top: 0;
	border-top: $settings_icon_size/2.5 solid $color_off;
	
	&.on {
		border-top-color: $color_on;
	}
}
.setting-position-bottom {
	bottom: 0;
	border-bottom: $settings_icon_size/2.5 solid $color_off;
	
	&.on {
		border-bottom-color: $color_on;
	}
}
.setting-position-right,
.setting-position-left {
	top: 50%;
	transform: translateY(-50%);
	border-top: $settings_icon_size/2.5 solid transparent;
	border-bottom: $settings_icon_size/2.5 solid transparent;
}
.setting-position-right {
	right: 0;
	border-right: $settings_icon_size/2.5 solid $color_off;
	
	&.on {
		border-right-color: $color_on;
	}
}
.setting-position-left {
	left: 0;
	border-left: $settings_icon_size/2.5 solid $color_off;
	
	&.on {
		border-left-color: $color_on;
	}
}

.settings-numbers {
	display: flex;
	justify-content: center;
	padding: 0 5vw;
}
.settings-number {
	width: 7em;
	text-align: center;
	
	label {
		display: block;
		padding: .25em;
	}
	
	input {
		width: 2.5em;
		height: 2em;
		padding: 0;
		font-size: 1rem;
		color: #fff;
		text-align: center;
		background-color: #222;
		border: 0;
	}
	
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
}

	
.noise {
	content: '';
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/noise.jpg');
	background-size: 10%;
	pointer-events: none;
	
	&.show {
		opacity: .25;
	}
}



.info {
	position: fixed;
	z-index: 6;
	top: calc( 1rem + 1vw );
	left: calc( 1rem + 1vw );
	font-size: 1.25rem;
	
	&.open {
		
		.info-toggle {
			color: #bbb;
			background: #111;
	
			&:after {
				content: '×';
				color: #bbb;
			}
		}
		
		.info-copy {
			opacity: 1;
		}
	}
}
.info-toggle {
	position: absolute;
	z-index: 2;
	width: calc( 2em + 1vw );
	height: calc( 2em + 1vw );
	font-size: 1rem;
	background-color: #000;
	border: 0;
	border-radius: 999px;
	
	&:after {
		content: 'i';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		font-family: georgia, times, serif;
		color: #444;
		font-weight: 900;
	}
}
.info-copy {
	position: absolute;
	z-index: 1;
	top: .875em;
	left: .875em;
	width: 20em;
	padding: 1em 2em;
	font-size: 1rem;
	line-height: 1.5;
	color: #bbb;
	background: #111;
	border-radius: .25em;
	opacity: 0;
	
	a {
		color: goldenrod;
	}
}
.vary {
	margin-top: 2rem;
	width: 7rem;
	color: #444;

	a {
		color: #b4463c;
	}
}
