@charset "UTF-8";
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

body {
  font: 13px Helmet, Freesans, sans-serif; }

body, select, input, textarea {
  color: #333; }

a {
  color: #03f; }

a:hover {
  color: #69f; }

::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #fcd700; }

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold; }

input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

blockquote {
  padding: 16px;
  background: #eee; }

* {
  outline: 0; }

html,
body {
  height: 100vh;
  overflow: hidden; }

body {
  font-family: sans-serif;
  background-color: black; }
  body.settings-open .lazer.show {
    top: 7vh !important;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 50vmin !important;
    height: 50vmin !important;
    border-radius: .25rem;
    border: 1px solid white; }
  body.settings-open .lazerlinez-text,
  body.settings-open .grid {
    opacity: 0; }
  body.settings-open .settings-toggle {
    top: calc( -1vmin - 4vmax); }
  body.settings-open .settings {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  body.settings-open .slider:after {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  body.settings-open .slider-1,
  body.settings-open .slider-3 {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg); }
  body.settings-open .slider-2,
  body.settings-open .slider-4 {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg); }

.fade_in_on_load {
  opacity: 0;
  -webkit-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out; }
  .fade_in_on_load.show {
    opacity: 1; }

.background {
  z-index: 0;
  background-image: -webkit-linear-gradient(bottom, #232366 30%, #0a0a19 80%);
  background-image: linear-gradient(to top, #232366 30%, #0a0a19 80%); }

.background,
.lazer,
.mountainz,
.lazerlinez-text,
.grid {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.lazer {
  position: fixed !important;
  top: auto !important;
  bottom: 35%;
  left: 50% !important;
  -webkit-transform: translateX(-50%) translateZ(0);
          transform: translateX(-50%) translateZ(0);
  width: 90vmin !important;
  height: 90vmin !important;
  border-radius: 9999px; }
  .lazer.show {
    bottom: 33% !important; }

.mountainz {
  z-index: 3; }

.lazerlinez-text {
  z-index: 5; }
  .lazerlinez-text text {
    font-family: 'Racing Sans One', sans-serif;
    font-size: calc( 5vw + 5vh);
    letter-spacing: .025em;
    text-transform: uppercase;
    text-shadow: -0.1vh -0.1vw 0 white, 0.2vh 0.2vw 0 rgba(0, 0, 0, 0.875);
    fill: url(#gradient);
    -webkit-filter: url(#dropshadow);
            filter: url(#dropshadow); }
  .lazerlinez-text .stop1 {
    stop-color: #5555b4; }
  .lazerlinez-text .stop2 {
    stop-color: deepskyblue; }
  .lazerlinez-text .stop3 {
    stop-color: white; }
  .lazerlinez-text .stop4 {
    stop-color: black; }
  .lazerlinez-text .stop5 {
    stop-color: hotpink; }
  .lazerlinez-text .stop6 {
    stop-color: white; }

.grid {
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: -100vw;
  width: 300vw;
  height: 100vh;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: perspective(800px) rotateX(66deg);
          transform: perspective(800px) rotateX(66deg);
  -webkit-mask: url(#mask);
          mask: url(#mask); }

.grid-line {
  position: absolute;
  stroke: #004d4d;
  stroke-width: 1.5vmin; }

.github {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  width: 6rem;
  height: 6rem;
  overflow: hidden; }
  .github a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(50%, -50%) rotate(45deg);
            transform: translate(50%, -50%) rotate(45deg);
    color: deepskyblue; }
  .github svg {
    fill: currentColor; }

.settings-toggle {
  position: fixed;
  top: calc( -1rem - 4vmax);
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(0);
          transform: translateX(-50%) translateZ(0);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 4vmax;
  height: 3vmax;
  background-color: transparent;
  border: 0; }
  .settings-toggle .slider {
    position: absolute;
    left: 0;
    width: 4vmax;
    height: 0.25vmax;
    background-color: goldenrod;
    border-radius: 999px;
    -webkit-transition: all 1200ms ease;
    transition: all 1200ms ease; }
    .settings-toggle .slider:after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 0.8vmax;
      height: 0.8vmax;
      background: goldenrod;
      border-radius: 999px;
      -webkit-transition: all 1200ms ease;
      transition: all 1200ms ease; }
  .settings-toggle .slider-1 {
    top: 0; }
    .settings-toggle .slider-1:after {
      left: 30%; }
  .settings-toggle .slider-2 {
    top: 33.333333%;
    -webkit-transform: translateY(-33%);
            transform: translateY(-33%); }
    .settings-toggle .slider-2:after {
      left: 15%; }
  .settings-toggle .slider-3 {
    top: 66.666666%;
    -webkit-transform: translateY(-66%);
            transform: translateY(-66%); }
    .settings-toggle .slider-3:after {
      left: 66%; }
  .settings-toggle .slider-4 {
    top: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
    .settings-toggle .slider-4:after {
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.settings {
  position: fixed;
  z-index: 6;
  bottom: 0;
  -webkit-transform: translateY(100%) translateZ(0);
          transform: translateY(100%) translateZ(0);
  width: 100%;
  height: 30%;
  padding: 0 2vw;
  -webkit-transition: all 1200ms ease;
  transition: all 1200ms ease; }

.settings-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.settings-color {
  display: inline-block;
  padding: 2vw; }
  .settings-color input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0; }
    .settings-color input, .settings-color input::-webkit-color-swatch-wrapper, .settings-color input::-webkit-color-swatch {
      width: 4vmax;
      height: 4vmax;
      padding: 0;
      border: 0;
      border-radius: 999px; }

.settings-position {
  position: relative;
  width: 4vmax;
  height: 4vmax;
  margin: 2vw;
  border-radius: 999px;
  overflow: hidden; }

.setting-position {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  background-color: transparent;
  border: 0; }

.setting-position-top,
.setting-position-bottom {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 1.6vmax solid transparent;
  border-right: 1.6vmax solid transparent; }

.setting-position-top {
  top: 0;
  border-top: 1.6vmax solid rgba(255, 255, 255, 0.15); }
  .setting-position-top.on {
    border-top-color: rgba(255, 255, 255, 0.85); }

.setting-position-bottom {
  bottom: 0;
  border-bottom: 1.6vmax solid rgba(255, 255, 255, 0.15); }
  .setting-position-bottom.on {
    border-bottom-color: rgba(255, 255, 255, 0.85); }

.setting-position-right,
.setting-position-left {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 1.6vmax solid transparent;
  border-bottom: 1.6vmax solid transparent; }

.setting-position-right {
  right: 0;
  border-right: 1.6vmax solid rgba(255, 255, 255, 0.15); }
  .setting-position-right.on {
    border-right-color: rgba(255, 255, 255, 0.85); }

.setting-position-left {
  left: 0;
  border-left: 1.6vmax solid rgba(255, 255, 255, 0.15); }
  .setting-position-left.on {
    border-left-color: rgba(255, 255, 255, 0.85); }

.settings-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5vw; }

.settings-number {
  width: 7em;
  text-align: center; }
  .settings-number label {
    display: block;
    padding: .25em; }
  .settings-number input {
    width: 2.5em;
    height: 2em;
    padding: 0;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    background-color: #222;
    border: 0; }
  .settings-number input::-webkit-outer-spin-button,
  .settings-number input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */ }

.noise {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-filter: blur(0.04rem);
          filter: blur(0.04rem); }

.info {
  position: fixed;
  z-index: 6;
  top: calc( 1rem + 1vw);
  left: calc( 1rem + 1vw);
  font-size: 1.25rem; }
  .info.open .info-toggle {
    color: #bbb;
    background: #18181b; }
    .info.open .info-toggle:after {
      content: '×';
      color: #bbb; }
  .info.open .info-copy {
    opacity: 1; }

.info-toggle {
  position: absolute;
  z-index: 2;
  width: calc( 2em + 1vw);
  height: calc( 2em + 1vw);
  font-size: calc( 1rem + .25vw);
  background-color: #000;
  border: 0;
  border-radius: 999px; }
  .info-toggle:after {
    content: 'i';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    font-family: georgia, times, serif;
    color: #444;
    font-weight: 900; }

.info-copy {
  position: absolute;
  z-index: 1;
  top: .875em;
  left: .875em;
  width: calc( 20em + 4vw);
  padding: calc( 1.5em + .5vw) calc( 2em + .5vw);
  font-size: calc( .75rem + .25vw);
  line-height: 1.5;
  color: #bbb;
  background: #18181b;
  border-radius: .25em;
  opacity: 0; }
  .info-copy a {
    color: goldenrod; }

.vary {
  margin-top: 2rem;
  width: 7rem;
  color: #444; }
  .vary a {
    color: #b4463c; }
